@page
@model Astaberry.Areas.Admin.Pages.Brands.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Brand LIst</h1>

<p>
    <a asp-page="Create">Create New Brand</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblBrand[0].Brandname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblBrand) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brandname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Brandid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Brandid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Brandid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
