@page
@model Astaberry.Areas.Admin.Pages.OfferImages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Offer Image</h1>

<p>
    <a asp-page="Create">Create New Offer Image</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblOffersImage[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOffersImage[0].Enable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblOffersImage) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
