@page
@model Astaberry.Areas.Admin.Pages.CouponCodes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Coupon Code Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblCouponCode.Couponcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCouponCode.Couponcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblCouponCode.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCouponCode.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblCouponCode.Maxallowed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCouponCode.Maxallowed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblCouponCode.ApplicableFor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblCouponCode.ApplicableFor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblCouponCode.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
