@page
@model Astaberry.Areas.Admin.Pages.CouponCodes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Coupon Code List</h1>

<p>
    <a asp-page="Create">Create New Coupon Code</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblCouponCode[0].Couponcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblCouponCode[0].Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblCouponCode[0].Maxallowed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblCouponCode[0].ApplicableFor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblCouponCode) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Couponcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maxallowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicableFor)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
