@page
@model Astaberry.Areas.Admin.Pages.Concerns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Concern List</h1>

<p>
    <a asp-page="Create">Create New Concern</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblConcern[0].Concern)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblConcern) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Concern)
            </td>
         
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
