@page
@model Astaberry.Areas.Admin.Pages.Reviews.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Review</h1>

<h3>Are you sure you want to delete this Review?</h3>
<div>
    <h4>TblReview</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblReview.Productid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblReview.Productid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblReview.Reviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblReview.Reviews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblReview.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblReview.IsApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblReview.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblReview.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblReview.Emailid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblReview.Emailid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblReview.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblReview.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblReview.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
