@page
@model Astaberry.Areas.Admin.Pages.Blog.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Blog List</h1>

<p>
    <a asp-page="Create">Create New Blog</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].BlogTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].Blogdescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblBlog[0].Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblBlog) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Blogdescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Blogid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Blogid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Blogid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
