@page
@model Astaberry.Areas.Admin.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Product List</h1>

<p>
    <a asp-page="Create">Create New Product</a>
</p>
<div class="form-group">
    <form asp-page-handler="Search" method="post" asp-page="Index">
        <table class="table table-responsive"><tr><td>Sku Code</td><td><input type="text" class="form-control" name="Skucode" /></td><td><input type="submit" value="Search" class="btn btn-primary" /></td></tr></table>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblProduct[0].Skucode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblProduct[0].QTY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblProduct[0].Price)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TblProduct[0].ParentCode)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblProduct) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skucode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QTY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ParentCode)
            </td>
            
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
