@page
@model Astaberry.Areas.Admin.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
    int i = 1;
    double totalamount = 0;
    double Shipping = 0;
    double Discount = 0;
    double? GST = 0;
    double? TotalGST = 0;
    double? SubTotal = 0;
    double shippinggst =0;
    double computedgst = 0;
    double shipgst = 0;
    double actualshippinggst = 0;
    double codcharge = 0;
    double codchargesgst = 0;
}

<style>
    .wc-order-totals {
        float: right;
        width: 50%;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size:medium;
    }
</style>

<div class="outer-w3-agile mt-3">
    <div class="row">
        <div class="col-md-12">
            <h4 class="tittle-w3-agileits mb-12">
                Order #@Model.TblOrderId.Orderid
                Payment detail as on @Model.TblOrderId.Date
            </h4>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h4 class="tittle-w3-agileits mb-4">Billing</h4>
            <div class="address">
                <p>
                    @Model.TblBilling.Name &nbsp;  @Model.TblBilling.LastName<br>
                    @Model.TblBilling.Apartment
                    @Model.TblBilling.Address<br />
                    @Model.TblBilling.City- @Model.TblBilling.PinCode<br>
                    @Model.TblBilling.State<br />
                    @Model.TblBilling.Country
                </p>
                <p>
                    <strong><i class="mdi mdi-email"></i></strong>
                    <a href="mailto:@Model.TblBilling.Emailid"> @Model.TblBilling.Emailid</a>
                </p>
                <p><strong><i class="mdi mdi-cellphone-android"></i></strong> <a href="tel:@Model.TblBilling.ContactNumber">@Model.TblBilling.ContactNumber</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="tittle-w3-agileits mb-4">Shipping</h4>
            <div class="address">
                <p>
                    @Model.TblShipping.Name &nbsp;  @Model.TblShipping.LastName<br>
                    @Model.TblShipping.Address<br />
                    @Model.TblShipping.City- @Model.TblShipping.PinCode<br>
                    @Model.TblShipping.State<br />
                    @Model.TblShipping.Country
                </p>
                <p>
                    <strong><i class="mdi mdi-email"></i></strong>
                    <a href="mailto:@Model.TblShipping.Emailid"> @Model.TblShipping.Emailid</a>
                </p>
                <p><strong><i class="mdi mdi-cellphone-android"></i></strong> <a href="tel:@Model.TblShipping.ContactNumber">@Model.TblShipping.ContactNumber</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <h4 class="tittle-w3-agileits mb-4">Status</h4>
            <form asp-page-handler="Update" method="post">
                <input type="hidden" value="@Model.TblOrderId.Orderid" name="orderid" />
                <select class="form-control" name="Status"><option>Select</option><option>Completed</option><option>Cancelled</option><option>Pending</option></select><br />
                <input type="submit" value="Update" class="btn btn-primary" />
            </form>
        </div>
    </div>

   <hr />
    <div class="table-responsive">
        <table class="table table-bordered" align="center">
            <tr><td><b> S No.</b></td><td><b> Product id</b></td><td><b>Product Name</b></td><td><b>Gst(%)</b></td><td><b>Size</b></td><td><b>Price</b></td><td><b>Qty</b></td><td><b>Total</b></td></tr>
            @foreach (var detail in Model.TblOrderDetail)
            {
                double total = Convert.ToDouble(detail.qty * detail.OfferPrice);
                totalamount += total;
                TotalGST += detail.Gst;

        <tr>
            <td>
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => detail.Skucode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => detail.ProductName)
            </td>
            <td>@Html.DisplayFor(modelItem=>detail.ProductGst)</td>
            <td>
                @Html.DisplayFor(modelItem => detail.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => detail.OfferPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => detail.qty)
            </td>
            
            <td>
                @total
            </td>
        </tr>
                i++;
            }

        </table>

        <table class="wc-order-totals text-right mr-5">
            <tbody>
                <tr>
                    <td class="label">Items Subtotal:</td>
                    <td width="1%"></td>
                    <td class="total">
                        @{
                            SubTotal = @totalamount - @TotalGST;
                        }
                        <span><bdi><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> </span>@Math.Round(Convert.ToDouble(SubTotal))</bdi></span>
                    </td>
                </tr>
                <tr>
                    <td class="label">Gst:</td>
                    <td width="1%"></td>
                    <td class="total align-content-center">
                        @{
                            GST = TotalGST;
                        }
                        <span><bdi><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> </span>  @Math.Round(Convert.ToDecimal(GST))</bdi></span>
                    </td>
                </tr>
                <tr>
                    <td class="label">Shipping:</td>
                    <td width="1%"></td>
                    <td class="total align-right">

                        @{
                            if (totalamount >= 300)
                            {
                                Shipping = 0;
                            }
                            else
                            {
                                 Shipping = 30;
                                 shippinggst = Model.MaximumGst;
                                 computedgst = (100 + shippinggst) / 100;
                                 shipgst = Shipping / computedgst;
                                 actualshippinggst = Shipping - shipgst;
                            }
                        }
                        <span><bdi style="text-align:right;"><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> </span>@Math.Round(shipgst)</bdi></span>
                    </td>
                </tr>
                <tr>
                    <td class="label">Shipping Gst:</td>
                    <td width="1%"></td>
                    <td class="total align-right">

                       
                        <span><bdi style="text-align:right;"><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> </span>@Math.Round(actualshippinggst)</bdi></span>
                    </td>
                </tr>
                <tr>
                    <td class="label">Coupon Code Discount:</td>
                    <td width="1%"></td>
                    <td class="total">
                        @{
                            Discount = Convert.ToDouble(@Model.TblOrderId.CouponCodeapplied);
                        }
                        <span><bdi><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> </span>@Discount</bdi></span>
                    </td>
                </tr>
                @if (@Model.TblOrderId.PaymentFrom == "COD")
                {
                    codcharge = 42.37;
                    codchargesgst = 7.63;
                    <tr>
                        <td class="label">COD:</td>
                        <td width="1%"></td>
                        <td class="total">
                           
                            <span><bdi><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> </span>@codcharge</bdi></span>
                        </td>
                    </tr>

                     <tr>
                        <td class="label">COD GST:</td>
                        <td width="1%"></td>
                        <td class="total">
                           
                            <span><bdi><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> </span>@codchargesgst</bdi></span>
                        </td>
                    </tr>
                }

                <tr><td colspan="3"><hr /></td></tr>
                <tr>
                    <td class="label">Order Total:</td>
                    <td width="1%"></td>
                    <td class="total">
                        @{
                            double grandtotal = (totalamount + Shipping + codcharge + codchargesgst) - Discount;
                        }
                        <span><bdi><span class="woocommerce-Price-currencySymbol"><i class="fa fa-rupee"></i> @grandtotal</span></bdi></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
<div>
    <a asp-page="./PrintInvoice" asp-route-Orderid="@Model.TblOrderId.Orderid" asp-route-Email="@Model.TblOrderId.Emailid"><i class="fa fa-print"></i> Print Invoice</a> |
    <a asp-page="./ShipRocket" asp-route-Orderid="@Model.TblOrderId.Orderid" asp-route-Email="@Model.TblOrderId.Emailid"><i class="fa fa-forward"></i> ShipRocket</a> |
    <a asp-page="./Index">Back to List</a>
</div>
