@page
@model Astaberry.Areas.Admin.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}
<h1>Order List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].Orderid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].CouponCodeapplied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].Emailid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblOrderId[0].PaymentFrom)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblOrderId) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orderid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCodeapplied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentFrom)
            </td>
            <td colspan="2">
                <a asp-page="./Details" asp-route-Orderid="@item.Orderid" asp-route-Email="@item.Emailid"><i class="fa fa-eye" title="Detail"></i></a>


            </td>
        </tr>
}

    </tbody>
   
</table>
@{
    var prevDisabled = !Model.TblOrderId.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.TblOrderId.HasNextPage ? "disabled" : "";
}
 <a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.TblOrderId.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.TblOrderId.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>