@page
@model Astaberry.Areas.Admin.Pages.Orders.PrintReport

@{
    Layout = null;
    ViewData["Title"] = "Index";
}
<html>
<head>
    <title></title>
    <style>
        .wc-order-totals {
            float: right;
            width: 50%;
            margin: 0;
            padding: 0;
            text-align: center;
            font-size: medium;
        }
    </style>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body onLoad="self.print()">
    <form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TblOrderId[0].Orderid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblOrderId[0].Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblOrderId[0].CouponCodeapplied)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblOrderId[0].Emailid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TblOrderId[0].Status)
                    </th>
                    <th>
                        Amount
                    </th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TblOrderId)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Orderid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CouponCodeapplied)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Emailid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script src="~/js/vendor/jquery-3.3.1.min.js"></script>
        <script type="text/javascript">

            function PrintMe(DivID) {
                var disp_setting = "toolbar=yes,location=no,";
                disp_setting += "directories=yes,menubar=yes,";
                disp_setting += "scrollbars=yes,width=650, height=600, left=100, top=25";
                var content_vlue = document.getElementById(DivID).innerHTML;
                var docprint = window.open("", "", disp_setting);
                docprint.document.open();
                docprint.document.write('<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"');
                docprint.document.write('"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">');
                docprint.document.write('<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">');
                docprint.document.write('<head><title>Ivia Beaute Pvt. Ltd.</title>');
                docprint.document.write('<style type="text/css">body{margin:0px;');
                docprint.document.write('font-family:verdana,Arial;color:#000;');
                docprint.document.write('font-family:Verdana, Geneva, sans-serif; font-size:12px;}');
                docprint.document.write('a{color:#000;text-decoration:none;} </style>');
                docprint.document.write('</head><body onLoad="self.print()"><center>');
                docprint.document.write(content_vlue);
                docprint.document.write('</center></body></html>');
                docprint.document.close();
                docprint.focus();
            }

        </script>

    </form>
</body>
</html>
