@page
@model Astaberry.Areas.Admin.Pages.JobPosting.DetailsModel

@{
    ViewData["Title"] = "Details";
    int i = 1;
}

<h1>Applied Job Details</h1>

<div>

    <hr />

    <table class="table">
        <tr><th>S.No.</th><th>Name</th><th>Email</th><th>Contact</th><th>Gender</th><th>Exp</th><th>Resume</th></tr>
      
        @foreach (var item in Model.TblOrderId)
        {

            <tr>
        <td>@i</td>
        <td>@item.Name</td>
        <td>@item.Email</td>
        <td>@item.Contact</td>
        <td>@item.Gender</td>
        <td>@item.Exp</td>
        <td><a href="~/Resume/@item.ResumeName" target="_blank">View </a></td>
            </tr>
            i++;
        }
        

    </table>

</div>

