@page
@model Astaberry.Areas.Admin.Pages.JobPosting.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Posted Jobs</h1>

<p>
    <a asp-page="Create">Create New Job</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblJobPostings[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblJobPostings[0].Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblJobPostings[0].Exp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TblJobPostings[0].JobDescription)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblJobPostings) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>

            <td>

                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
