@page
@model Astaberry.Areas.Admin.Pages.Sizes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Size List</h1>

<p>
    <a asp-page="Create">Create New Size</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblSize[0].Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblSize) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Sizeid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Sizeid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Sizeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
