@page
@model Astaberry.Areas.Admin.Pages.SkinTypes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Skin Type List</h1>

<p>
    <a asp-page="Create">Create New Skin Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TblSkinType[0].Skintypename)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TblSkinType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skintypename)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Skintypeid">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Skintypeid">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Skintypeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
