@page
@model Astaberry.Areas.Admin.Pages.ProductByConcern.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>COncern Product Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProductByConcern.SkuCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProductByConcern.SkuCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblProductByConcern.ConcernId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblProductByConcern.ConcernId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblProductByConcern.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
