@page
@model Astaberry.Areas.Admin.Pages.ProductByConcern.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Concern Product</h1>

<p>
    <a asp-page="Create">Create New Product By Concern</a>
</p>
<div class="form-group">
    <form asp-page-handler="Search" method="post" asp-page="Index">
        <table class="table table-responsive"><tr><td>Sku Code</td><td><input type="text" class="form-control" name="Skucode" /></td><td><input type="submit" value="Search" class="btn btn-primary" /></td></tr></table>
    </form>
</div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TblProductByConcern[0].SkuCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TblProductByConcern[0].ConcernId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TblProductByConcern)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkuCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ConcernId)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
