@page
@model Astaberry.Areas.Admin.Pages.OtherBanners.IndexModel
@{
}
<h1>Image List</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OtherBanners[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherBanners[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherBanners[0].Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OtherBanners)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <img src="~/img/banner/cosmetic/@item.Name" height="100px" width="100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>

                </td>
            </tr>
        }
    </tbody>
</table>
